# Build Folders
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*.tlog

# Visual Studio Code
.vscode/

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Packages
*.nupkg
*.snupkg
packages/

# Visual Studio
.vs/

# DotNet
project.lock.json
project.fragment.lock.json
artifacts/

# StyleCop
StyleCopReport.xml

# File-based packages
*.pdb
*.mdb
*.ilk
*.obj
*.log
*.cache
*.csproj.user
*.dbmdl
*.jfm

# Resharper
_ReSharper.Caches/

# Azure
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
appsettings.Staging.json

# Docker
**/Dockerfile
**/docker-compose*

# OS-specific files
.DS_Store
Thumbs.db